.content {
    
    display: flex;
    justify-content: center;



}



.form {
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    margin: 2rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    width:35vh

   
}

.title {}

.secondary-action {}

.link {
    font-weight: 700;
    text-decoration: none;
}

.link:focus {
    color: #00a278;
}

.link:active {
    color: #45c09f;
}

.link:visited {
    color: #45c09f;
}

.button {
    background-color: #00a278 !important;
}

.button:hover {
    background-color: #00845c !important;
}

@media screen and (min-width: 768px) {
    /* .content {
        justify-content: flex-end;
    }

    .form {
        min-width: 24rem;
    } */
}

